@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

:root {
  --color-beige: #F3ECE0;
  --color-blue: #A2C0DD;
  --color-slate: #525050;
  --color-cab-sav: #490B1A;

  --color-white: #FFFFFF;
  --color-light-blue: #E7F0F8;
  --color-light-beige: #FAF7F2;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-slate);
  background-color: var(--color-beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
   height: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;

  margin: 0;
  padding: 0;

  background-color: var(--color-beige);
}

button,
input,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}